#sidebar {
  width: 220px;
  height: 100vh;
  background: #000c18;
  padding: 1rem !important;
  color: white;
  font-family: var(--bs-font-sans-serif);
  margin-right: 10;
  flex-shrink: 0;
}

#sidebar-title {
  font-size: 1.5rem !important;
  margin-bottom: 20px;
  margin-left: 5px;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
