#sidebar {
  width: 180px;
  height: 100%;
  background: #000c18;
  position: fixed;
  padding: 1rem !important;
  color: white;
  font-family: var(--bs-font-sans-serif);
}

#sidebar-title {
  font-size: 1.5rem !important;
  margin-bottom: 20px;
  margin-left: 5px;
}

.add-button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  margin: 20px;
}
