.task-table-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  position: relative;
}

.table-column {
  padding: 10px;
  width: 230px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-right: 1px;
}
