body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sidebar {
    width: 180px;  /* Reduced width */
    height: 100%;
    background: #001f3f;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    color: white;
    font-family: 'Arial', sans-serif;
}

#sidebar-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 5px;
}

#add-task-button {
    background-color: #001f3f;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

#content {
    margin-left: 180px;  /* Adjusted margin */
    padding: 20px;
    margin-top: 10px;  /* Moved tasks lower */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
    min-height: 100vh;
}

.task-box {
    border: 1px solid #ccc;
    margin-bottom: 20px;  /* Increased space between tasks */
    padding: 15px;  /* Adjusted padding */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    width: 25%;
}

#task-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

/* Rounded corners for buttons */
.rounded-button {
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    color: #001f3f;  /* Dark blue color */
    background-color: white;
    border: 1px solid #001f3f;  /* Border color same as background color */
    cursor: pointer;
}

/* Adjusted margin for buttons */
.rounded-button {
    margin-right: 10px;
}
