body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    margin-left: 180px;
    padding: 20px;
    margin-top: 10px;
    overflow-y: auto;
    height: calc(100vh - 40px); /* Adjusted height */
}